<div style="padding: 50px; background: url({{ embed.bg }}) center center / cover no-repeat;">
  {% block header %}
    <div align="center">
      <img
        height="100px" width="100px"
        src="{{ embed.logo }}"
      />
    </div>
    <h2 align="center">{{ config.name }}</h2>
  {% endblock %}

  <div style="margin: 100px 0">
    <div style="max-width: 500px; margin: 0 auto;">
      {% block body %}
      {% endblock %}
    </div>
  </div>

  <div style="max-width: 500px; margin: 0 auto;">
  {% block footer %}
    <div align="right">{{ config.name }} {{ sender }}</div>
    <div align="right">{{ 'now' | date('Y-m-d') }}</div>
  {% endblock %}
  </div>
  <div style="margin-top: 50px; color: #aaa; font-size: .9em; text-align: center;">
    <div>该邮件为系统发送，请不要直接回复</div>
    <div>点此取消订阅</div>
  </div>
</div>
